
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop
$min_width: 0%;
$max_width: 100%;
$min_font: 10px;
$max_font: 24px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

.Recommendations {
    &_container {
        &_recomendation {
          // display: flex;
            &_box {
                position: relative;
                // border: 1px solid rgb(114, 111, 111);
                display: grid;
                grid-template-columns: minmax(0, 232px) minmax(0, 232px);
              
                // -moz-column-count:2;
                // column-count:2;
                
                // -webkit-column-gap:20px;
                // -moz-column-gap:20px;
                grid-gap:20px;
                &_product{
                    overflow: hidden;
                    padding-top: 800.34px / 591.44px * 100%;
                    background: #fff;
                    position: relative;
                    max-width: 232px;
                    // max-height: 317.313px;
                    &_inside {
                      // display: grid;
                      // grid-template-columns: 1fr 
                      // grid-template-rows: 1fr 80px;;
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      
                    }

                    border: 1px solid #efefef;
                    position:relative;
                    width:100%;
                    height:fit-content;
                
                    overflow:hidden;
                    &_imgbox{
                      height: 100% ;
                      width: 100%;
                      // background: blue;
                      // --aspect-ratio: 1.25;
                      box-sizing:border-box;
                      position: relative;
                      // img{
                      //   width:100%;
                      //   display:block;
                      //   margin:0;
                      // }
                      &_aspect {
                        // display: grid;
                        // grid-template-columns: 1fr;
                        width: 100%;
                        padding-top: 5px/5px*100%;
                        
                        // background: blue;
                        // top: 0;
                        position: relative;
                        // width: 100%;
                        &_box {
                          width: 100%;
                          height: 100%;
                          background: #d9d9d9;
                          position: absolute;
                          top: 0;
                          left: 0;
                          
                        }
                        // left: 0;
                        

                      }
                  }
                }

                &_details {
                    height: 20%;
                    position:absolute;
                    width:100%;
                    bottom:0;
                    background:#fff;
                    padding:10px;
                    box-sizing:border-box;
                    box-shadow: 0 0 0 rgba(0,0,0,0);
                    transition: .5s;
                    h2 {
                        margin:0;
                        padding:0;
                        font-size: $mod_1*$mod_1*$mod_1 *1rem; 
                        @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
                        width:100%;
                        span {
                          font-size:12px;
                          color:#ccc;
                          font-weight:normal;
                        }
                    }
                    &_price {
                        position:absolute;
                        top:10px;
                        right:20px;
                        font-weight:bold;
                        font-size:20px;
                    }
                }
            }
        }
    }
}


// label{
//   display:block;
//   margin-top:5px;
//   font-weight:bold;
//   font-size:14px;
// }
// ul{
//   display:flex;
//   margin:0;
//   padding:0;
// }
// ul li{
//   list-style-type:none;
//   margin: 5px 5px 0;
//   font-size:12px;
//   font-weight:bold;
  
// }
// ul li:first-child{
//   margin-left:0;
// }
// ul.colors li{
//   width:16px;
//   height:16px;
// }
// ul.colors li:nth-child(1){
//   background-color:yellow;
// }
// ul.colors li:nth-child(2){
//   background-color:red;
// }
// ul.colors li:nth-child(3){
//   background-color:green;
// }
// ul.colors li:nth-child(4){
//   background-color:orange;
// }
// ul.colors li:nth-child(5){
//   background-color:lightblue;
// }
// a{
//   display:block;
//   padding:5px;
//   color:#fff;
//   margin:15px;
//   background:#ff4faf;
//   text-align:center;
//   text-decoration:none;
//   transition: .3s;
// }
// a:hover{
//   color:#000;
// }
// .product:hover .details{
//   bottom:0;
// }