.MainLayout {
    height: 100%;
    width: 100%;
    margin-top: 140px;
    &_container {
        margin: auto;
        width: fit-content;
        height: 100%;
        display: grid;
        grid-template-columns:  600px minmax(0, 300px);
        grid-template-rows: 1fr;
        &_left {
            border-right: .9px solid #D9D9D9;
            height: 100%;
            padding: 0
            

        }
    }
}

@media only screen and (max-width: 600px) {
  .MainLayout_container {
    // display: flex;
    width: 100%;

    grid-template-columns:  1fr;
    &_left {
        width: 100%;
        border-right: none;
        height: 100%;
        padding: 20px 15px;
    }
    &_right {
        display: none;
    }
  }
}