@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.ImageUploader_container {
	height: 100%;
	&_description {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		text-transform: capitalize;
		color: black;
		&_box {
			width: 100%;
			max-width: 300px;
			padding: 10px 15px;
			margin: 20px auto;
			.h5_text_description {
                padding: 0;
                margin: 0;
                font-size: 1rem;
                font-weight: 500;
            }
		}
	}
}

.uploadInput {
  background: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
//   height: fit-content;
  font-size: 0.8em;
}

input[type="file"] {
    display: none;
}
.addPhoto {
	font-size: large;
}
.custom-file-upload {
	// border: 1px solid #d9d9d9;
	background: #d9d9d9;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	bottom: 0;
    cursor: pointer;
}

.imagePreviewContainer {
	// width: 300%;
	display: grid;
	grid-template-columns: 145px 145px ;
	grid-template-rows: 1fr;
	grid-gap: 10px;
	// padding: 10px;
	// flex: 1 1 100vw;
	// flex-flow: row wrap;
}

.previewItem {
	display: flex;
	flex-direction: column;
	margin: 5px 0;
	padding: 0;
	// width: 100px;
	background: #fff;
	// box-shadow: 1px 2px 5px 0px hsla(0, 0%, 0%, 0.35);
}

.imagePreview {
	height: 100px;
	&_image {
	  width: 100%;
	  height: 100%;

	}
}

.details {
	padding: 5px 0;
}

.details h6 {
	font-size: 10pt;
	font-weight: 600;
	// font-weight: normal;
	color: rgb(121, 110, 110);
	padding: 0;
	margin: 0;
}
.details_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&_size {
		color: #999;
		font-size: 0.8em;
	}
}

.details i {
	cursor: pointer;
}

.dragDrop {
	// margin-top: 10px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	background: hsla(0, 0%, 100%, 0.25);
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #ddd;
	border: 2px dashed #eee;
}

.dragging {
	background-color: #fff;
	color: lightsteelblue;
}

.dragging i.material-icons {
	animation: bounce 1s infinite ease-in-out;
}

.inside {
	overflow: hidden;
	// border: 1px solid red;
	box-sizing: border-box;
	padding-top: 1 / 1 * 100%;
	background: #fff;
	position: relative;
	height: fit-content;
}

@keyframes bounce {
	0% { transform: translateY(0); }
	50% { transform: translateY(5px); }
	100% { transform: translateY(0); }
}