.HomeCard {
    width: 100%;
    padding: 20px 7px;
    box-sizing: border-box;
    &_container {
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: 1fr;
        &_left {
            border-right: #d9d9d9;
            height: 300px;
            display: flex;
            justify-content: space-around;
            &_image {
                width: 80px;
                height: 80px;
                border-radius: 5px;
                overflow: hidden;
                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &_right {
            padding: 0;
            &_top {
                display: grid;
                grid-template-columns: 1fr 80px;
                grid-template-rows: 1fr;
                &_title {
                    margin: 0;
                    padding: 0;
                    font-size: 1.4em;
                    display: inline-block;
                    text-decoration: none;
                    background-image: linear-gradient(to right, #000, blue);
                    background-position: bottom left;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .5s ease;
                    
                }
                &_menu {
                    text-align: right;
                    // padding: 7px 7px 0 0;
                    box-sizing: border-box;
                }
            }
            &_top_title:hover {
                text-decoration: underline solid 2px;
                background-size: 100% 1px;
                cursor: pointer;
                
            }
            &_views {
                margin: 3px 5px;
                display: flex;
                .views_icon {
                    // margin-right: 10px;
                    font-size: 3em;

                }
                &_icon {
                    margin-right: 10px;
                    color: #d9d9d9;
                    font-size: 0.4em;
                }
                &_digits {
                    font-weight: 500;
                    font-size: 0.8em;
                    color: #FF0000;
                    letter-spacing: 1.5px;
                }
            }
            &_price {
                margin: 5px 0;
                display: flex;
                &_old {
                    margin-right: 10px;
                    color: #d9d9d9;
                    text-decoration: line-through;
                }
                &_new {
                    font-weight: 500;
                    color: #FF0000;
                    
                }
            }
            &_description {
                font-size: .96em;
                margin: 7px 0;
                &_trancate_dots {
                    letter-spacing: 2.5px;
                }
            }
            &_photo {
                position: relative;
                width: 100%;
                height: 150px;
                border: solid .5px #d9d9d9;
                padding: 7px;
                box-sizing: border-box;
                // border-radius: 3px;
                overflow: hidden;
                &_overlay {
                    position: absolute;
                    text-align: right;
                    padding: 8px;
                    color: #fff;
                    background-color: rgba($color: #fff, $alpha: 0);
                    background-image: radial-gradient(
                        circle at top right,
                        rgba($color: #000000, $alpha: 0.2)  1%,
                        rgba($color: #fff, $alpha: 0) 90%
                    );
                        
                    z-index: 2;
                    top: 0px;
                    right: .3px;
                    left: .3px;
                    bottom: .3px;
                }
                &_container {
                    position: absolute;
                    z-index: 1;
                    top: 7px;
                    right: 7px;
                    left: 7px;
                    bottom: 7px;
                    // height: 100%;
                    // border: solid .3px #d9d9d9;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 7px;
                    &_item {
                        width: 100%;
                        height: 100%;
                        background: #d9d9d9;
                    }
                }
            }
        }
    }
}