#mapid {
    height: calc(100vh - 96px);
    width: 100%;
    border: 1px solid #D9D9D9;
    position: relative;
}

.Map {
    &_container {
        position: relative;
        border: 1px solid red;
        &_search {
            margin: auto;
            position: absolute;
            z-index: 999;
            top: 10%;
            left: 50%;
            max-width: 450px;
            width: 90%;
            transform: translateX(-50%);
            
            
            &_top {
                background: #fff;
                border-radius: 5px;
                padding: 5px 0;
                box-shadow:
                    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                    0 12.5px 10px rgba(0, 0, 0, 0.06),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12)
                    ;
                    
                &_container {
                    display: flex;
                    flex-direction: row;
                    background: #fff;
                    width: 100%;
                    max-width: 500px;
                    overflow: hidden;
                    &_searchbar {
                        background-color: #fff;
                        color: #000;
                        padding: 4px 20px;
                        flex: 1;
                        border: none;

                        font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
                            sans-serif;
                        font-size: 1em;
                        &::placeholder {
                        color: #D9D9D9;
                        text-transform: capitalize;
                        font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
                            sans-serif;
                        font-size: 1.1em;
                        /* font-weight: bold; */
                        /* transition: 0.2s; */
                        }
                    }
                    &_btn_search {
                        cursor: pointer;
                        color: #FFF;
                        text-decoration: none !important;
                        font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
                            sans-serif;
                        font-size: 1.5em;
                        padding: 3px 12px;
                        display: flex;
                        align-items: center;
                        background-color: #fff;
                        box-sizing: border-box;
                        border-left: .3px solid #000;
                        }
                }
            }
            &_bottom {
                &_autoComplete {
                    margin-top: 10px;
                    background: #fff;
                    border-radius: 5px;
                    padding: 10px 5px;
                    &_box {
                        &_item {
                            padding-top: 5px;
                            margin-left: 10px;
                            border-bottom: 1px solid #D9D9D9;
                            &:hover {
                                border-bottom: 1px solid green;
                                cursor: pointer;

                            }
                            &_busline {
                                font-size: 2em;
                                font-weight: 600;
                                line-height: 1em;
                                padding: 0;
                                margin: 0;
                            }
                            &_location {
                                font-size: .9em;
                                font-weight: 500;

                            }
                        }
                    }
                }
            }
        }
    }
}