.AddProductLayout {
    &_container {
        // width: 100%;
        &_title {
            padding: 40px 20px 10px 20px;
            display: flex;
            justify-content: flex-end;
            &_text {
                margin: 0;
                padding: 0;
                font-size: 1.6em;
                // color: #0CE822;
            }
            &_shop {
                // border: 1px solid red;
                width: 200px;
                box-sizing: border-box;
                border-radius: 3px;
                padding: 5px 6px 7px 7px;
                display: flex;
                background-color: rgba($color: #9CFF00, $alpha: .5);
                &_gravatar {
                    width: 33px;
                    height: 33px;
                    overflow: hidden;
                    border-radius: 3px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &_detail {
                    margin-left: 8px;
                    width: calc(100% - 40px);
                    box-sizing: border-box;
                    line-height: 17px;
                    word-wrap: break-word;
                    font-weight: 500;
                    font-size: .9em;
                    a {
                        color:blueviolet;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
        &_description_textarea {
            width: 100%;
            border: 1px solid #d9d9d9;
            border-radius: 5px;
            padding: 20px 15px;
            resize: vertical;
            min-height: 250px;
            box-sizing: border-box;
            font-size: 1.05em;
            font-weight: 500;

        }
        &_prices {
            border-radius: 5px;
            border: 1px solid #d9d9d9;
            box-sizing: border-box;
            padding: 20px 15px;
            width: 100%;
            
        }
        &_sizes {
            border-radius: 5px;
            border: 1px solid #dd99dd;
            box-sizing: border-box;
            padding: 20px 15px;
            width: 100%;
        }
    }
}

.Shop_detal_card {
    display: flex;
    color: green;
    &_text {
        font-weight: 400;
    }
    &_connects {
        font-weight: 400;
        margin: 0 9px 0 0;
    }
}